.elem {
    padding-bottom: 3px;
    border-bottom: white solid 1px;
    background: #F2F2F2;
}
.seen {
    visibility: visible;
}
.unseen {
    visibility: hidden;
}
.panel-contents {
    background: #F2F2F2; 
    border: 1px solid #ccc; 
    box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset; 
    margin: 10px; 
    position:relative; 
    top:0px; 
    left:0px;
}
.panel-controls {
    border: 1px solid #ccc;
}